.role-card {

}

.role-card-component {
    background-color: #121624;
    border-color: #1c1f2e;
    color: #d6d6d6;
    width: 15rem;
    padding: 2rem;
    margin-top: 1rem;
}

.card-amount {
    background-color: white !important;
    border-color: #e63946 !important;
    color: #e63946 !important;
}

.card-button {
    background-color: #e63946 !important;
    border-color: #e63946 !important;
    color: white !important;
}
